
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<h2>Students</h2>

<table>
    <thead>Student Info</thead>
    <tr>
        <th>Name</th>
        <th>Id</th>
    </tr>
    <tr>
        <td>Dristi</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Disha</td>
        <td>2</td>
    </tr>

</table>

